/**
 * Tailwind CSS imports
 * View the full documentation at https://tailwindcss.com
 */

body {
  background-color: #040c18;
  color: #f8f8f8;
  font-family: "Regular";
  margin: 0px;
  padding: 0px; 
  font-size: 16px;
}

button {
  color: #f8f8f8;
  background-color: transparent;
  font-family: "Regular";
}

a {
  color: #f8f8f8;
  text-decoration: none;
  font-family: "Light";
  font-size: 13px;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-family: "Bold";
}

p {
  font-family: "Light";
}

@font-face {
  font-family: "Bold";
  src: url("/fonts/Sansation_Bold.ttf");
}

@font-face {
  font-family: "Regular";
  src: url("/fonts/Sansation_Regular.ttf");
}
@font-face {
  font-family: "Light";
  src: url("/fonts/Sansation_Light.ttf");
}
