/**
 * Tailwind CSS imports
 * View the full documentation at https://tailwindcss.com
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #040C18;
    color: #D9D9D9;  
    font-family: "Regular";                                              
}

h1 {
    font-family: "Bold";
}

p {
    font-family: "Light";
}

@font-face { 
    font-family: "Bold"; 
    src: url("/fonts/Sansation_Bold.ttf"); 
} 

@font-face { 
    font-family: "Regular"; 
    src: url("/fonts/Sansation_Regular.ttf"); 
} 
@font-face { 
    font-family: "Light"; 
    src: url("/fonts/Sansation_Light.ttf"); 
} 